@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Do+Hyeon&family=Graduate&family=Itim&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Antique&family=Zen+Antique+Soft&display=swap');



/* reset */
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
}

/* --- */

body {
    background-color: black;
    height: 900px;
    color: white;    
}

header#header {
    position: absolute;
    font-family: 'Do Hyeon';
}
h1#title-header {
    position: relative;
    display: flex;
    justify-content: center;
    left: 260px;
    top: -200px;
    font-size: 40pt;
}
figure#container-img-header img {
    position: relative;
    display: flex;
    justify-content: center;
    height: 230px;
    border-radius: 50px;
}
menu {
    position: relative;
    display: block;
    border-bottom: 1px solid gray;
    font-size: 20px;
    left: 240px;
    top: -120px;
}
menu li {
    display: inline-block;
}

nav#section-pages a {
    display: block;
    color: white;
    padding: 10px;
    left: 20px;
}
